@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 html {
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #150E28;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Montserrat', 'sans-serif';
}

p {
  font-size: 300;
}

#success-modal-root {
  display: grid;
  justify-items: center;
}

.border-gradient {
  border: 3px solid;
  border-image-slice: 1;
background: transparent;
border-style: solid;
border-width: 3px;
border-radius: .5rem;
border-image-source: linear-gradient(180deg, #9A39FF 0%, #FF29B9 100%) !important;
}

.btn-border-gradient:hover {
  border: 3px solid;
  border-image-slice: 1;
background: transparent;
border-style: solid;
border-width: 3px;
border-radius: .5rem;
border-image-source: linear-gradient(180deg, #9A39FF 0%, #FF29B9 100%) !important;
}

.active {
  background: -webkit-linear-gradient(30deg, #903AFF 3.08%, #FF26B9 93.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


.active::after {
  content: "";
  transition: width 150ms ease-in-out;
}

.unselected {
  color: #fff;
}

.backdrop {
  backdrop-filter: blur(2px);
  filter: blur(1px);
}